<mat-toolbar color="primary">
    <button class="button-basic" mat-button routerLink="crear-cita"><a href="crear-cita">Crear Cita online</a></button>
    <button class="button-basic" mat-button routerLink="consultar-cita"><a href="consultar-cita">Consultar cita</a></button>
    <button class="button-basic" mat-button routerLink="especialidades"><a href="especialidades">Especialidades</a></button>
    <!--<button class="button-basic" mat-button routerLink="horarios"><a href="horarios">Horarios</a></button>-->
    <button class="button-basic" mat-button routerLink="en-contacto"><a href="en-contacto">En contacto</a></button>
    <button class="button-basic" mat-button routerLink="buzon-sugerencias"><a href="buzon-sugerencias">Buzón de Sugerencias</a></button>
    <button class="button-basic" mat-button routerLink="buzon-quejas"><a href="buzon-quejas">Buzón de Quejas</a></button>
    <!--<button class="button-basic" mat-button routerLink="ubicaciones"><a href="ubicaciones">Ubicaciones</a></button>-->
  </mat-toolbar>