 <mat-toolbar class="nav-bar-g">
  <div class="logo-container">
    <img src="../../../../assets/logo_upc_red.png" alt="Imagen" style="scale:0.5;"/>
  </div>
  <div class="navbar-links">
    <a href="crear-cita" mat-button class="button-navbar" [class.active]="isActiveCrearCita('/crear-cita')">
      Crear Cita online
    </a>
    <a href="consultar-cita" mat-button class="button-navbar" [class.active]="isActive('/consultar-cita')" >
      Consultar cita</a>
    <a href="especialidades" mat-button class="button-navbar" [class.active]="isActive('/especialidades')">
      Especialidades</a>
    <!--<button class="button-navbar" mat-button routerLink="horarios"><a href="horarios">Horarios</a></button>-->
    <a href="en-contacto" mat-button class="button-navbar" [class.active]="isActive('/en-contacto')">
      Contacto</a>
    <a href="buzon-sugerencias" mat-button class="button-navbar" [class.active]="isActive('/buzon-sugerencias')">
      Buzón de Sugerencias</a>
    <a href="buzon-quejas" mat-button class="button-navbar" [class.active]="isActive('/buzon-quejas')">
      Buzón de Quejas</a>
      <a href="ubicaciones"mat-button class="button-navbar" [class.active]="isActive('/ubicaciones')">
      Ubicaciones</a><!---->
  </div>
</mat-toolbar> 
<!--<nav mat-tab-nav-bar >
  <img src="../../../../assets/logo_upc_red.png" alt="Imagen" style="scale:0.5;"/>

  <a mat-tab-link 
     (click)="activeLink = 'crear-cita'"
      [routerLink]="'crear-cita'"
     [active]="activeLink == 'crear-cita'"
     >Crear Cita online</a>
     <a mat-tab-link 
     (click)="activeLink = 'consultar-cita'"
     [routerLink]="'consultar-cita'"
     [active]="activeLink == 'consultar-cita'"
     >Consultar cita</a>
      <a mat-tab-link 
     (click)="activeLink = 'especialidades'"
     [active]="activeLink == 'especialidades'">Especialidades</a>
     <a mat-tab-link 
     (click)="activeLink = 'en-contacto'"
     [active]="activeLink == 'en-contacto'">En contacto</a>
     <a mat-tab-link 
     (click)="activeLink = 'buzon-sugerencias'"
     [active]="activeLink == 'buzon-sugerencias'">Buzón de Sugerencias</a>
     <a mat-tab-link 
     (click)="activeLink = 'buzon-quejas'"
     [active]="activeLink == 'buzon-quejas'">Buzón de Quejas</a>
     <a mat-tab-link 
     (click)="activeLink = 'ubicaciones'"
     [active]="activeLink == 'ubicaciones'">Ubicaciones</a> 
</nav> 
<div [@routeAnimations]="prepareRoute(outlet)" >
  <router-outlet #outlet="outlet"></router-outlet>
</div>-->