a {
  text-decoration: none; /* Elimina la decoración de subrayado */
  color: inherit; /* Usa el color heredado para el enlace */
}
.button-primary {
  background-color: #D50000; 
  color: #FFFFFF; 
}
.button-basic {
  background-color: #FFFFFF; 
  color: #D50000 !important; 
  margin-right: 5px;
}
.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;

}
.logo-container {
  margin-right: 200px; /* Ajusta el espacio entre la imagen y los enlaces según sea necesario */
}
.navbar-links a {
  text-decoration: none;
  color: inherit;
}
.button-navbar{
  font-size: 16px;
}