<div style=" display: flex;">
  <h1 style="flex: 0 0 55%; text-align: end;">Doctores</h1>
  <div style="flex: 0 0 40%;display: flex; justify-content: end;">
    <div style="min-width: 250px; margin-top: 20px;">
      <mat-form-field appearance="outline">
        <mat-label>Cambia el tamaño de letra</mat-label>
        <mat-select (selectionChange)="cambiarTamanioLetra($event.value)">
          <mat-option value="normal">Normal</mat-option>
          <mat-option value="grande">Grande</mat-option>
          <mat-option value="muy grande">Muy Grande</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div><mat-divider></mat-divider>
<br>
<div class="row align-items-center justify-content-end buscador">
  <div style="flex: 0 0 70%;">

    <!--<input matInput [(ngModel)]="filtro" placeholder="Buscar especialidades" />-->

  </div>
  <!--<div class="card-header" style="flex: 0 0 30%;">
    <mat-form-field appearance="outline" class="input-buscador">
      <input matInput [(ngModel)]="filtro" placeholder="Buscar doctores" />
      <button matSuffix mat-icon-button (click)="filtrarEspecialidades()" >
        <mat-icon >search</mat-icon> 
      </button>
    </mat-form-field>
  </div>-->
</div>
<div class="cards-especialidades">
    <div fxLayout="row " fxLayout.lt-md="column"  class="responsive-grid">
      <mat-card *ngFor="let especialidad of especialidades" class="especialidad-card">
        <mat-card-header>
            <mat-card-title class="titulo-card"> 
                {{ especialidad.nombre_doctor }}
            </mat-card-title>
            <br>
            <mat-card-subtitle class="subtitulo-card">
                
            </mat-card-subtitle>

        </mat-card-header>
        <img mat-card-image [src]="especialidad.imagen" alt="{{ especialidad.nombre_doctor }}" />
        <br>
        <mat-card-content class="parrafo-card" style="flex-grow: 1;">
          <p style="margin-top: 0px;">{{ especialidad.experiencia }}</p>
        </mat-card-content>
        <mat-card-actions>
          <div *ngIf="especialidad.disponibilidad == 1">
            <div class="chip-container">
              <mat-icon fontIcon="check"></mat-icon>
              <label>Disponible</label>
            </div>
          </div>
          <div *ngIf="especialidad.disponibilidad == 0">
            <div class="chip-container-disabled">
              <mat-icon fontIcon="check"></mat-icon>
              <label>No disponible</label>
            </div>
          </div>

        </mat-card-actions>
      </mat-card>
    </div>
  </div>