.card-especialidad {
    max-width: 400px;
  }

  
  .especialidad-card {
    margin: 10px; /* Espacio entre las cards */
    max-width: 400px;
  }
  .responsive-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    gap: 24px;
  }
  .mat-mdc-form-field-subscript-wrapper{
    display: none !important;
  }
.card-header{
  display: flex;
  align-items: center;
}
.input-buscador{
  margin-bottom: -1.0em;
  display: flex;
  flex: 0 0 50%;
  margin-right: 5px;

}
a {
  text-decoration: none;
  color: white;
}
.responsive-grid{
  justify-items: center;
}
.btn-doctores {
  border-radius: 10px;
}
.accions-butons{
  display: flex;
  justify-content: right;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-right: 15px;
}