
/* Estilos para el contenedor principal */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.side-by-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.left-half {
  flex: 0.7;
  padding: 16px;
  text-align: center; /* Centra el contenido horizontalmente */
}

.right-half {
  flex: 1;
  padding: 16px;
  text-align: center; /* Centra el contenido horizontalmente */
}

/* Estilos para los formularios */
mat-form-field {
  width: 70%;
  margin-bottom: 16px; /* Espacio entre campos */
  flex: 1;
  align-items: center; 
}
.button-hour{
  margin-right: 5px; 
  margin-top: 5px; 
  font-size: 16px;
  border-style: solid;
  border-color: rgb(162, 162, 162);
  border-width: 2px;
}
.button-hour.selected {
  background-color: #D50000; /* Color de fondo cuando está seleccionado */
  color: white; /* Color del texto cuando está seleccionado */
  border-color: #9b0000; /* Color del borde cuando está seleccionado */
}
/* Ajusta el ancho de los campos de texto */
.mat-column-property {
  max-width: 25px!important;
}
