<link href='https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css' rel='stylesheet' />
<div class="containers" style="min-height: 400px;">
    <div class="side-by-sides" style="min-height: 400px;">
        <div class="left-halfs">
            <div *ngFor="let place of places">
                <mat-card class="card-events" >
                  <mat-card-header>
                    <mat-card-title style="font-size: 18px;">{{ place.text_es }}</mat-card-title>
                    <mat-card-subtitle>{{ place.place_name_es }}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-actions style="display: flex; justify-content: end;">
                    <button mat-raised-button color="secondary" style="font-size: 14px;" (click)="getDireccion(place)">
                      ¿Cómo llegar?
                    </button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          <div class="right-halfs" style="text-align: start;min-height: 400px;">
            <app-loading *ngIf="!isUserLocationReady"></app-loading>
            <div #mapDiv class="map" id="map" class="match-parent">
                <button mat-raised-button color="primary" class="btn-ubicacion" (click)="IrUbicacion()" style="font-size: 14px;" >Ir a mi ubicación</button>
            </div>
        <!---->
          </div>
    </div>
  </div>



