.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  .btnEnviar{
    padding: 23px 40px;
    margin-bottom: 20px;
    font-size: 20px;
  }