/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.button-primary {
    background-color: #D50000; 
    color: #FFFFFF; 
  }
.button-basic {
    background-color: #FFFFFF; 
    color: #D50000 !important; 
    margin-right: 5px;
  }