
<h1 class="text-center">Buzon de Sugerencias</h1>
<mat-divider></mat-divider>
<div *ngIf="FormComplete == 0">
<form class="contact-form" [formGroup]="sugerencia">
  <div class="row">
    <div class="col-md-1" style="padding-left: 0%;">
    </div>
    <div class="col-md-11 label-input">
        <mat-label >Seleccione el tipo de documento:</mat-label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1" style="padding-left: 0%;">
      <img src="../../../../assets/business-cards.png" alt="Imagen" class="imagen-input"/>

    </div>
    <div class="col-md-11">
        <mat-form-field appearance="outline">
            <mat-select formControlName="tipoDocumento" 
            placeholder="Seleccione el tipo de documento"
            value="DNI" required>
            <mat-option value="DNI">DNI</mat-option>
            <mat-option value="Pasaporte">Pasaporte</mat-option>
            <!-- Agrega más opciones según tus necesidades -->
            </mat-select>
            <mat-hint style="color: red;" *ngIf="sugerencia.get('tipoDocumento')?.touched && sugerencia.get('tipoDocumento')?.hasError('required')">
              Debe seleccionar el tipo de documento
          </mat-hint>
        </mat-form-field>
    </div>
</div>

  
    
<div class="row">
  <div class="col-md-1" style="padding-left: 0%;">
  </div>
  <div class="col-md-11 label-input">
      <mat-label >Ingrese aqui el N° de Documento (Ej: 70412550):</mat-label>
  </div>
</div>
<div class="row">
  <div class="col-md-1" style="padding-left: 0%;">
    <img src="../../../../assets/licencia-de-conducir.png" alt="Imagen" class="imagen-input"/>

  </div>
  <div class="col-md-11">
      <mat-form-field appearance="outline">
        <input matInput maxlength="8" formControlName="numeroDocumento" placeholder="" required/>
        <mat-hint style="color: red;" *ngIf="sugerencia.get('numeroDocumento')?.touched && sugerencia.get('numeroDocumento')?.hasError('required')">
            Debe escribir su número de documento
        </mat-hint>
      </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col-md-1" style="padding-left: 0%;">
  </div>
  <div class="col-md-11 label-input">
      <mat-label >Ingrese aqui su número de celular (Ej: 991144192):</mat-label>
  </div>
</div>
<div class="row">
  <div class="col-md-1" style="padding-left: 0%;">
      <mat-icon class="icon-input">
          call
      </mat-icon>
  </div>
  <div class="col-md-11">
      <mat-form-field appearance="outline">
        <input matInput maxlength="9" formControlName="numeroCelular" placeholder="" required/>
        <mat-hint style="color: red;" *ngIf="sugerencia.get('numeroCelular')?.touched && sugerencia.get('numeroCelular')?.hasError('required')">
            Debe escribir su número de celular
        </mat-hint>
      </mat-form-field>
  </div>
</div>


<div class="row">
  <div class="col-md-1" style="padding-left: 0%;">
  </div>
  <div class="col-md-11 label-input">
    <mat-label>Escriba aqui la sugerencia que quiera transmitirnos</mat-label>
  </div>
</div>
<div class="row">
  <div class="col-md-1" style="padding-left: 0%;">
    <mat-icon class="icon-input" style="padding-left: 0%;">
      comment
    </mat-icon>
  </div>
  <div class="col-md-11">
    <mat-form-field appearance="outline">
      <textarea matInput rows="5" formControlName="comentario"></textarea>
      <mat-hint style="color: red;" *ngIf="sugerencia.get('comentario')?.touched && sugerencia.get('comentario')?.hasError('required')">
        Debe escribir la sugerencia que quiere transmitirnos
      </mat-hint>
    </mat-form-field>
  </div>
</div>
  
<!-- <div class="row">
  <div class="col-md-1">
    <mat-icon class="icon-input">
      checklist
    </mat-icon>
  </div>
  <div class="col-md-11">
    <mat-form-field appearance="outline">
      <mat-label>Ingrese aqui su sugerencia</mat-label>
        <mat-select>
          <mat-option value="dni">Atencion al Cliente</mat-option>
          <mat-option value="pasaporte">Diseño de la web</mat-option>
        </mat-select>
    </mat-form-field>
  </div>
</div> -->
  </form>
  <div class="text-center">
    <button mat-raised-button color="primary" class="btnEnviar" (click)="submitForm()">Enviar</button>
  </div>
</div>
  <div *ngIf="FormComplete == 1" style="display:flex;justify-content: center;">
    <img class="image-submit" src="../../../../assets/Mailbox-pana.svg" alt="Imagen" />
  </div>