<br>
<h3 class="text-center">En Contacto</h3>
<form class="contact-form">
  <div class="row">
    <div class="col-md-1" style="padding-left: 0%;">
        <mat-icon class="icon-input">
            account_box
        </mat-icon>
    </div>
    <div class="col-md-11">
        <mat-form-field appearance="outline">
            <mat-label >Seleccione el tipo de documento</mat-label>
            <mat-select formControlName="tipoDocumento">
            <mat-option value="DNI">DNI</mat-option>
            <mat-option value="Pasaporte">Pasaporte</mat-option>
            <!-- Agrega más opciones según tus necesidades -->
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="row">
  <div class="col-md-1" style="padding-left: 0%;">
      <mat-icon class="icon-input">
          person_search
      </mat-icon>
  </div>
  <div class="col-md-11">
      <mat-form-field appearance="outline">
          <mat-label>Ingrese aqui el N° de Documento (Ej: 70412550)</mat-label>
          <input matInput formControlName="numeroDocumento" placeholder="Número de documento" />
      </mat-form-field>
  </div>
</div>
  
<div class="row">
  <div class="col-md-1" style="padding-left: 0%;">
      <mat-icon class="icon-input">
          call
      </mat-icon>
  </div>
  <div class="col-md-11">
      <mat-form-field appearance="outline">
          <mat-label>Ingrese aqui su número de celular (Ej: 991144192)</mat-label>
          <input matInput formControlName="numeroCelular" placeholder="Número de celular" />
      </mat-form-field>
  </div>
</div>
  
<div class="row">
  <div class="col-md-1" style="padding-left: 0%;">
      <mat-icon class="icon-input">
          calendar_month
      </mat-icon>
  </div>
  <div class="col-md-11">
      <mat-form-field appearance="outline">
          <mat-label>Ingrese la fecha de su nacimiento (dia/mes/año):</mat-label>
          <input matInput formControlName="fechaNacimiento" placeholder="Fecha de nacimiento" [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  </div>
</div>
  
<div class="row">
  <div class="col-md-1" style="padding-left: 0%;">
    <mat-icon class="icon-input" >
      mail
    </mat-icon>
  </div>
  <div class="col-md-11">
    <mat-form-field appearance="outline">
      <mat-label>Ingrese aqui su correo electronico (Ej: jperez&#64;gmail.com)</mat-label>
      <input matInput type="email" placeholder="Correo Electrónico" />
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col-md-1" style="padding-left: 0%;">
    <mat-icon class="icon-input" style="padding-left: 0%;">
      comment
    </mat-icon>
  </div>
  <div class="col-md-11">
    <mat-form-field appearance="outline">
      <mat-label>Escriba aqui el mensaje que quiera transmitirnos</mat-label>
      <textarea matInput rows="5"></textarea>
    </mat-form-field>
  </div>
</div>

  
  </form>
  <div class="text-center">
    <button mat-raised-button color="primary" class="btnEnviar">Enviar</button>
  </div>