<form class="contact-form">
    <mat-form-field appearance="outline">
      <mat-label>Tipo de Documento</mat-label>
      <mat-select>
        <mat-option value="dni">DNI</mat-option>
        <mat-option value="pasaporte">Pasaporte</mat-option>
        <!-- Agrega más opciones si es necesario -->
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <input matInput placeholder="Número de Documento" />
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <input matInput placeholder="Número de Contacto" />
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <input matInput type="date" placeholder="Fecha de Nacimiento" />
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <input matInput type="email" placeholder="Correo Electrónico" />
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Comentario</mat-label>
      <textarea matInput rows="5"></textarea>
    </mat-form-field>
  
    <button mat-raised-button color="primary">Enviar</button>
  </form>