.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  .btnEnviar{
    padding: 23px 40px;
    margin-bottom: 20px;
    font-size: calc(var(--tamanio-letra) + 6px);
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .side-by-side {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
  }
  
  .left-half {
    flex: 0.7;
    padding: 16px;
    text-align: center; /* Centra el contenido horizontalmente */
  }
  
  .right-half {
    flex: 1;
    padding: 16px;
    text-align: center; /* Centra el contenido horizontalmente */
  }
  .subtittle-custom{
    display: flex;
    max-width: 500px;
    margin-top: 0px;
  }
.hora-contacto{
  font-size: var(--tamanio-letra); 
  margin-top: 0px;
}
.subtitulo-contacto{
  font-size: calc(var(--tamanio-letra) + 6px);
}
.dia-contacto{
  font-size: var(--tamanio-letra);
  margin-top: 0px;
  margin-bottom: 2px;
}