<div class="container">
    <div class="calendar">
      <mwl-calendar-month-view
        [viewDate]="viewDate"
        [events]="events"
        (eventClicked)="showDoctorInfo($event)">
      </mwl-calendar-month-view>
    </div>
    <div class="doctor-info">
      <mat-card *ngIf="selectedDoctor">
        <mat-card-title>{{ selectedDoctor.doctor }}</mat-card-title>
        <mat-card-subtitle>{{ selectedDoctor.specialty }}</mat-card-subtitle>
        <!-- Agrega más detalles del doctor aquí -->
      </mat-card>
    </div>
  </div>