/*@import '../../../../../node_modules/angular-calendar/css/angular-calendar.css'; */

.fc-daygrid-day-number{
  color: black !important;
  font-size: large !important;
}
.side-by-sides {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.left-half {
  flex: 0.6;
  padding: 16px;
  /*text-align: center; /* Centra el contenido horizontalmente */

}

.right-half {
  flex: 1;
  padding: 16px;
  text-align: center; /* Centra el contenido horizontalmente */
}
.calendar{
  max-height: 71vh !important;
}
.fc-event-start {

  background-color: #D50000 !important;
  color: white !important;

}
.card-events{
  margin-bottom: 5px;
  border-width: 1px;
  border-color: #D50000;
}
.mat-column-property {
  max-width: 150px!important;
}
.tittle-dialog{
  font-size: calc(var(--tamanio-letra) + 6px) !important;
  font-weight: 500;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;

}
.dialog-close button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  padding-top: 3px;
}

.dialog-close button:focus {
  outline: none;
}

.dialog-close button span {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  font-size: calc(var(--tamanio-letra) + 2px);
  font-weight: 300;

}
.event-title{
  font-size: var(--tamanio-letra);
}
