<h1 class="text-center">Consultar cita</h1>
<mat-divider></mat-divider>
<div class="side-by-sides">
  <div class="left-half">
    <div class="citas">
      <h2>Tus citas programadas:</h2>
      <div *ngIf="selectedDate && selectedAppointments.length > 0" >
        <h3>Citas para el {{ selectedDate | date: 'dd/MM/yyyy' }}</h3>
        <div *ngFor="let appointment of selectedAppointments">
          <mat-card class="card-events" (click)="openAppointmentDetailsModal(appointment)">
            <mat-card-header>
              <mat-card-title>{{ 'Cita a las ' + formatDate(appointment.start) }}</mat-card-title>
              <mat-card-subtitle>{{ appointment.title }}</mat-card-subtitle>
              <mat-card-subtitle>{{ appointment['doctor'] }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content></mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div >
  <div class="right-half">
    <!-- <full-calendar [options]="calendarOptions" class="calendar"></full-calendar> -->
    <div class='demo-app-main'>
      <full-calendar *ngIf='calendarVisible()' [options]='calendarOptions()' class="calendar">
        <ng-template #eventContent let-arg>
          <b>{{ arg.timeText }}</b>
          <i>{{ arg.event.title }}</i>
        </ng-template>
      </full-calendar>
    </div>
  </div>
</div>
<ng-template #appointmentDetailsModal let-data="data">
  <div class="dialog-close">
    <button  type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeDetailsModal()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <h1 class="tittle-dialog" >Detalles de la cita</h1>
  <div mat-dialog-content>
    <table mat-table class="summary-table" [dataSource]="dataSource" aria-label="Tabla de resumen" >
      <ng-container matColumnDef="property">
        <td mat-cell *matCellDef="let element" class="table-cell">{{element.label}}</td>
      </ng-container>

      <ng-container matColumnDef="value">
        <td mat-cell *matCellDef="let element" class="table-cell">{{element.value}}</td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: ['property', 'value'];"></tr>
  </table>

    <!-- Agrega más campos según los datos que desees mostrar -->
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close color="primary" (click)="closeDetailsModal()">Cerrar</button>
  </div>
</ng-template>
