<h1 class="text-center">Tus Citas</h1>
<mat-divider></mat-divider>
<div class="side-by-sides">
  <div class="left-half">
    <div class="citas">
      <h2>Tus citas programadas:</h2>
      <div *ngIf="selectedDate && selectedAppointments.length > 0">
        <h3>Citas para el {{ selectedDate | date: 'dd/MM/yyyy' }}</h3>
        <div *ngFor="let appointment of selectedAppointments">
          <mat-card class="card-events">
            <mat-card-header>
              <mat-card-title>{{ 'Cita a las ' + formatDate(appointment.start) }}</mat-card-title>
              <mat-card-subtitle>{{ appointment.title }}</mat-card-subtitle>
              <mat-card-subtitle>{{ appointment['doctor'] }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content></mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div >
  <div class="right-half">
    <!-- <full-calendar [options]="calendarOptions" class="calendar"></full-calendar> -->
    <div class='demo-app-main'>
      <full-calendar *ngIf='calendarVisible()' [options]='calendarOptions()' class="calendar">
        <ng-template #eventContent let-arg>
          <b>{{ arg.timeText }}</b>
          <i>{{ arg.event.title }}</i>
        </ng-template>
      </full-calendar>
    </div>
  </div>
</div>
<ng-template #appointmentDetailsModal let-data="data">
  <h2 mat-dialog-title>Detalles de la cita</h2>
  <div mat-dialog-content>
    <p><strong>Doctor:</strong> {{ doctor }}</p>
    <p><strong>Especialidad:</strong> {{ especialidad }}</p>
    <p><strong>Sintomas:</strong> {{ sintomas }}</p>

    <!-- Agrega más campos según los datos que desees mostrar -->
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close color="primary" (click)="closeDetailsModal()">Cerrar</button>
  </div>
</ng-template>
